#FMEAACOC_Enable{
	/*margin-top: 6px;*/
}
#FMEAACOC_Settings {
	padding: 12px;
	font-size: 14px;
	font-weight: unset;
}
#FMEAACOC_description {
	font-size: 12px;
/*    font-style: italic;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
    

    margin-top: 7px;
    display: inline;
    /*margin-left: 25px;*/
}
.woocommerce-save-button{
	display: none !important;
}
.FMEAACOC_Settings_Form {
	/*padding: 27px;*/
    /*background-color: white;*/
}
#FMEAACOC_Seve_Settings_btn {
	margin-top: 10px;
}
#FMEAACOC_settings_msg {
	display: none;
	margin-left: 28px;
    position: relative;
    top: 17px;
    border: 1px solid transparent;
    padding: 8px;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 4px;
}

.container-fluid {
	padding-left: unset !important;
}

#FMEAACOC_Label {
	/*margin-top: 15px; */
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}